/* Create a web page with a header,
a footer and a content area containing 3 divs. 
set the height and width of divs to 100px. 
- add the previous nav bar in the header. 
- Add borders to all the divs. 
- Add different background color to each div with an opacity of 0.5 
- Give the content area appropriate height. */

* {
    padding: 0;
    margin: 0;
    color: white;
}

#navbar {
    height: 60px;
    /* background-color: black; */
    background-color: #0f1111;
}

button {
    background-color: #f08804;
}

#logo {
    color: #f08804;
}

a {
    padding-right: 250px;
}


#content {
    display: inline-block;
}

#One {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgba(150, 122, 0, 0.5);
}

#Two {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgba(150, 12, 115, 0.5);

}

#Three {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: rgba(150, 122, 224, 0.5);
}

footer {
    background-color: #0f1111;
    text-align: center;
}