/* Learning Transformation */

#One {
    height: 100px;
    width: 100px;
    color: aquamarine;
    background-color: hotpink;
    border: 2px solid green;
    text-align: center;
    /* The text was out of the div so. */
    overflow-wrap: break-word;
    transform: rotateX(180deg);
}

#Two {
    height: 100px;
    width: 100px;
    color: aqua;

    background-color: rgb(244, 6, 125);
    border: 2px solid rgb(1, 18, 1);
    overflow-wrap: break-word;
    transform: scaleX(1.5);
}