/* For Translate */
div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: aqua;
    transition: all 2s ease-in;
}

div:hover {
    transform: translateY(1000px);
    /* For the diagonal direction */

}

div:active {
    transform: rotateZ(90deg);
}